@import "./variables";

.project-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 1.5rem;
  position: relative;
  padding: 1rem 0;

  .btn-full {
    background-color: $primary-clr;
    color: $off-white-clr;
    transition: $ease;
  }

  .btn-full:hover,
  .btn-full:focus {
    background-color: $off-white-clr;
    color: $primary-clr;
  }

  .filters {
    background-color: #fff;
    margin-bottom: 1rem;
    box-shadow: $shadow;
    padding: 2em;
    display: flex;
    justify-content: space-around;
    h2 {
      margin: 0;
    }


  }

}